
.vertical_nav-wrap {
    filter: drop-shadow(4px 4px 2px rgba(8, 8, 8, 0.5));
    position: fixed;
}

.vertical_nav {
    
    background-color: rgba(7, 13, 15, 0.6);
    position: fixed;
    top: 40px;
    left: 40px;
    height:800px;
    width: 200px;
    text-shadow: 1px 1px 1px black;
    
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

body {
    background-color: #f1f7ed;
    
    background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
}

.link_action {
    border-bottom: 1px solid;
}

.link_action a:hover {
 background-color: #F34213;
}

.menu_color {
    margin-left: -0.9em;
}

.body_card {
    margin: 0.9em;
    max-width: 300px;
    box-shadow: 3px 3px 5px 0px rgba(7, 6, 6, 0.39);
    -moz-box-shadow: 3px 3px 5px 0px rgba(12, 8, 8, 0.39);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(22, 14, 14, 0.39);
}