body {
    background-color: #ffac4d;
    
    background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
}


.vertical_nav-wrap {
    filter: drop-shadow(4px 4px 2px rgba(51, 51, 51, 0.5));
    position: fixed;
}

.vertical_nav {
    
    background-color: rgba(173, 1, 53, 0.5);

    position: fixed;
    top: 40px;
    left: 40px;
    height:800px;
    width: 200px;
    text-shadow: 1px 1px 1px black;
    
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.link_action {
    border-bottom: 1px solid;
}

.link_action a:hover {
 background-color: rgb(243, 81, 36);
}

.menu_color {
    margin-left: -0.9em;
}

.banner {
 
}

.title_movies {
    border-bottom: 2px rgb(100, 22, 0) solid;
}

.card_header {
    font-size: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom: 1px #DE9151 solid;

}

.body_card {
    margin: 0.8em;
    max-width: 290px;
    box-shadow: 3px 3px 5px 0px rgba(7, 6, 6, 0.39);
    -moz-box-shadow: 3px 3px 5px 0px rgba(12, 8, 8, 0.39);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(22, 14, 14, 0.39);
}

.card_author {
    margin-top: 0.8em;
    font-size: 0.9em;
}



.De {
    color: gray;
}