{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Liste des films</h1>

        <div class="row">
            {% for movie in movies %}
                <div class="card border-light mb-3 col-md-3 body_card w-25 p-3">
                    <div class="card-header">{{ movie.name }}</div>
                    <div class="card-body">
                        <img src="{{ movie.cover }}" alt="">
            
                        <h5 class="card-title">{{ movie.author.name }}</h5>
                        {% for key, category in movie.category %}
                            <span class="card-text">
                                {{ category.name }}{% if key + 1 < movie.category|length %},{% endif %}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
